.table_title_container {
  margin-bottom: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.table_title_container span {
  margin-bottom: 10px;
}

.interactive_element {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.grid_outer_container {
  width: 70%;
  border-radius: 20px;
  margin-bottom: 40px;
}

.grid_inner_container {
  width: 100%;
}

.grid_inner_container td {
  background-color: rgb(249, 249, 249);
  text-align: center !important;
  vertical-align: middle !important;
}

.grid_inner_container tr {
  height: 30px;
}

.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datepicker {
  margin-left: 30px;
}
