.table_title_container {
  margin-bottom: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.table_title_container span {
  margin-bottom: 10px;
}

.interactive_element {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.datepicker {
  margin-left: 30px;
  text-align: center;
}

.datepicker > div:first-child {
  width: 150px !important;
  text-align: center;
}

.datepicker input {
  width: 81px !important;
}
