
.panel-transition-enter {
  opacity: 0;
}

.panel-transition-enter.panel-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.panel-transition-leave {
  opacity: 1;
}

.panel-transition-leave.panel-transition-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
