@font-face {
  font-family: GothamPro Black;
  src: url('/styles/fonts/GothamProBlack.ttf');
}

@font-face {
  font-family: GothamPro Bold;
  src: url('/styles/fonts/GothamProBold.ttf');
}

@font-face {
  font-family: GothamPro Italic;
  src: url('/styles/fonts/GothamProItalic.ttf');
}

@font-face {
  font-family: GothamPro Light;
  src: url('/styles/fonts/GothamProLight.ttf');
}

@font-face {
  font-family: GothamPro Medium;
  src: url('/styles/fonts/GothamProMedium.ttf');
}

@font-face {
  font-family: GothamPro Regular;
  src: url('/styles/fonts/GothamProRegular.ttf');
}
