.tabs {
  margin-top: 50px;
}

.panels_container {
  background-color: #F9F9F9;
  width: 65%;
  height: 100%;
}

.main_card {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dynamic_container {
  width: 35%;
  background: linear-gradient(to bottom right, #66428E, #8E524C);
}

.panels_outer_container {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.logo_container {
  height: 20%;
}

.panel_view_controls {
  height: 20%
}
